
/*
body{
    color:red;
}
*/

.o_kanban_renderer .o_column_quick_create{
    display: none;
}

.btn-big{
    font-size:36px;
    padding-right:30px;
    padding-left:30px;
}


.o_form_view.o_xxl_form_view .o_form_sheet_bg > .o_form_sheet {
    max-width: 1600px;
}
  
.o_FormRenderer_chatterContainer.o-aside {
    --Chatter-max-width: 300px;
}
